body {
background: #333;
color: white;
}

.home-header{
    color: white;
    font-family: Menlo;
}
nav.controls {
   background: none;
   border: none;
   
}
/*    Stop watch     */
.container-controls {
  margin: 0;
  padding: 0;
}


.container-controls {
  background: #333;
  color: #bbb;
  font-family: Menlo;
}

.controls {
position: fixed;
text-align: center;
top: 5em;
width: 65%;
}

.button {
  color: #bbb;
  font-size: 4vw;
  margin: 0 0.5em;
  text-decoration: none;
}

.button:first-child {
    margin-left: 0;
}

.button:last-child {
    margin-right: 0;
}

.button:hover {
  color: white;
}

.stopwatch {
  font-size: 20vw;
  height: 100%;
  line-height: 100vh;
  text-align: center;
  background-image: url(stopwatch.jpg);
}

.results {
  border-color: lime;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
/*    */

/* Card content*/
.row .col.m6 {
    text-align: center;
    width: 50%;
    margin-left: 300px;
    left: auto;
    right: auto;
}
/* */


.home{
    margin-top: 100px;
    text-align: center;
}
.nav-wrapper {
    background-color: #ee6e73!important;
}
.container-add{
    background-color: #ee6e73;
}

.btn{
        margin-left: 15px;
}
#myBtn{
     
      height: 24px;
    width: 78px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
}

.btn_small {
    height: 24px;
    width: 78px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
}

.exercise_header {
    margin-top: 5px;
}

.home-header{
    text-align: center;
}



.human-body {
    width: 207px;
    position: relative;
    padding-top: 240px;
    height: 260px;
    display: block;
    margin: 40px auto;
}
.human-body svg:hover {
    cursor: pointer;
}
.human-body svg:hover path {
    fill: #ff7d16;
}
.human-body svg {
    position: absolute;
    left: 50%;
    fill: #5f42de;;
}
.human-body svg.head {
    margin-left: -28.5px;
    top: -6px;
}
.human-body svg.shoulder {
    margin-left: -53.5px;
    top: 69px;
}
.human-body svg.arm {
    margin-left: -78px;
    top: 112px;
}
.human-body svg.cheast {
    margin-left: -43.5px;
    top: 88px;
}
.human-body svg.stomach {
    margin-left: -37.5px;
    top: 130px;
}
.human-body svg.legs {
    margin-left: -46.5px;
    top: 205px;
    z-index: 9999;
}
.human-body svg.hands {
    margin-left: -102.5px;
    top: 224px;
    
}
#area {
    display: block;
    width: 100%;
    clear: both;
    padding: 10px;
    text-align: center;
    font-size: 25px;
    font-family: Courier New;
    color: #a5a5a5;
}

#area #data {
    color: black;
}



/* The Login  */

.body-login {
background-image: linear-gradient(rgba(5, 5, 5, 0), rgba(0,0,0,0.6)) ,url(imglogin.jpg);
height: 100vh;
background-size: cover;
background-position: center; 
}
.login_page {

    width: 360px;
    padding: 10% 0 0;
    margin: auto;
}

.form{
    position: relative;
    z-index: 1;
    background: rgba(7, 40, 195,0.8);
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
}

.form input {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;

}

.form button {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    outline: 0;
    background: #4caf50;
    width: 100%;
    border: 0;
    color: #FFFFFF;
    padding: 15px;
    cursor: pointer;
}

.form button:hover, .form button:active {
    background: #43a047
}

.message {
    margin: 15px 0 0 ;
    color: aliceblue; 
    font-size: 15px;
}

.message a{
margin-left: 5px;
color: #4caf50; 
text-decoration: none;
}

.register-form{
    display: none;
}



.body-add {
background-image: linear-gradient(rgba(5, 5, 5, 0), rgba(0,0,0,0.6)) ,url(picadd.jpg);
height: 100vh;
background-size: cover;
background-position: center; 
font-size: 90px;
font-family: 'Calistoga', cursive;
}