.flash{
    color: white;
}
.home-header{
    color: white;
    font-family: Menlo;
}
nav.controls {
   background: none;
   border: none;
   
}

body {
 background: linear-gradient(119deg, #5f42de 60%, #ff7d16 55%);

  text-align: center;
}

.li-text{
    font-family: 'Work Sans', sans-serif;
}
@media only screen and (max-width: 1220px) {
  nav ul a {
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    font-size: 10.5px;
    color: #fff;
    display: block;
    padding: 0 15px;
    cursor: pointer;
}
}


.home{
    margin-top: 100px;
    text-align: center;
}

.nav-wrapper {
    background-color: #333535!important;
}
nav {
    
    background-color: #000000;
}


.btn{
        margin-left: 15px;
}
#myBtn{
     
      height: 24px;
    width: 78px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
}

.btn_small {
    height: 24px;
    width: 78px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
}

.exercise_header {
    margin-top: 5px;
}


/* Index.html */

.index{
background: url('training-828726_1920.jpg');
height: 100vh;
background-size: cover;
background-position: center; 
background-attachment: fixed;
}
.mirror {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.human-body {
    width: 207px;
    position: relative;
    padding-top: 240px;
    height: 260px;
    display: block;
    margin: 40px auto;
}
.human-body svg:hover {
    cursor: pointer;
}

.human-body svg:hover path {
    fill: #ff7d16;
}
.human-body svg {
    position: absolute;
    left: 50%;
    fill: #5f42de;
}
.human-body svg.head {
    margin-left: -28.5px;
    top: -6px;
}
.human-body svg.shoulder {
    margin-left: -53.5px;
    top: 69px;
}
.human-body svg.arm {
    margin-left: -78px;
    top: 112px;
}
.human-body svg.cheast {
    margin-left: -43.5px;
    top: 88px;
}
.human-body svg.stomach {
    margin-left: -37.5px;
    top: 130px;
}
.human-body svg.legs {
    margin-left: -46.5px;
    top: 205px;
    
}
.human-body svg.hands {
    margin-left: -102.5px;
    top: 224px;
   
}




/* The Login  */

.body-login {
background-image: linear-gradient(rgba(5, 5, 5, 0), rgba(0,0,0,0.6)) ,url(imglogin.jpg);
height: 100vh;
background-size: cover;
background-position: center; 
}
.login_page {

    width: 360px;
    padding: 10% 0 0;
    margin: auto;
}

.form{
    position: relative;
    z-index: 1;
    background: rgba(7, 40, 195,0.8);
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
}

.form input {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    outline: 1px;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;

}

.form button {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    outline: 0;
    background: #4caf50;
    width: 100%;
    border: 0;
    color: #FFFFFF;
    padding: 15px;
    cursor: pointer;
}

.form button:hover, .form button:active {
    background: #43a047
}

.message {
    margin: 15px 0 0 ;
    color: aliceblue; 
    font-size: 15px;
}

.message a{
margin-left: 5px;
color: #4caf50; 
text-decoration: none;
}

.register-form{
    display: none;
}


.row .col {
    display: inline-block;
    float: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 .75rem;
    min-height: 1px;
}



/* Add Page */
.body-add {
    
background-image: linear-gradient(rgba(5, 5, 5, 0), rgba(0,0,0,0.6)) ,url(weight-lifting-1284616_1920.jpg);
height: 100vh;
background-size: cover;
background-position: center; 

}
.add-box{
    background: rgba(7, 40, 195,0.8);
    font-family: "Roboto", sans-serif;
    outline: 1;
    color: honeydew;
    width: 100%;
    border: 0;
    padding: 15px;
    margin-top: 90px; 
    box-sizing: border-box;

}
.h3-add{
    color: white;
}

/* Three image containers  */
.column {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}


/* Container holding the image and the text */
.container-edit {
    position: relative;
    background: rgba(7, 40, 195,0.8);
}
.container {
  position: relative;
   text-align: center;
  color: black;
}

.top-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}


img.responsive-img, video.responsive-video {
    max-width: 101%;
}


/* watch */
.watch-body {
background-image: url(picadd.jpg);
height: 100vh;
background-size: cover;
background-position: center; 

}

#start {
  margin: 40px auto;
  text-align: center;
  color: #DAD6D6;
  background: #48633B;
  border:solid 2px #35492C;
  border-radius:5px;
  padding:16px 40px 16px;
  letter-spacing: 2px;
  cursor:pointer;
}

#stop {
  margin: 40px 5px auto;
  text-align: center;
  color: #DAD6D6;
  background: #721329;
  border:solid 2px #590F20;
  border-radius:5px;
  padding:16px 40px 16px;
  letter-spacing: 2px;
  cursor:pointer;
}

#clear {
  margin: 40px auto;
  text-align: center;
  color: #DAD6D6;
  background: #564E58;
  border:solid 2px #3E383F;
  border-radius:5px;
  padding:16px 40px 16px;
  letter-spacing: 2px;
  cursor:pointer;
}

.h2-watch {
    font-size: 46px;
    letter-spacing: 2px;
    color: white;
    margin: 200px 0 0;
}

/* Card content*/

.row .col.m6 {
    text-align: center;
    width: 50%;
    margin-left: 300px;
    left: auto;
    right: auto;
}
/* */