{% extends 'base.html' %}
{% block content %}

<body class="body-add">
<div class="add-box">
	<h3 class="h3-add">Add Exercise</h3>
	<form action="{{ url_for('insert_exercise')}}" method="POST" class="col s12">
		<div class="row">
			<div class="row">
				<div class="input-field col s12">
					<i class="material-icons prefix left">poll</i>
					<select id="category" name="category_name">
                  <option value="" disabled selected>Choose Category</option>
                  {% for category in categories %}
                      <option value="{{category.category_name}}">{{category.category_name}}</option>
                  {% endfor %}
                </select>
					<label>Select Body Part</label>
				</div>
			</div>

			<div class="row">
				<div class="input-field col s12">
					<i class="material-icons prefix">assignment</i>
					<input id="exercise_name" name="exercise_name" type="text" class="validate">
					<label for="icon_prefix">Exercise Name</label>
				</div>
			</div>

			<div class="row">
				<div class="input-field col s12">
					<i class="material-icons prefix">subject</i>
					<textarea name="exercise_description" id="exercise_description" class="materialize-textarea"></textarea>
					<label for="icon_telephone">Exercise Description</label>
				</div>
			</div>
			

			<div class="row">
				<button class="btn waves-effect waves-light" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                        </button>
			</div>
            
	</form>

</div>
</div>
</body>

{% endblock %}