{% extends 'base.html'%} {% block content %}

<body >
<h1>Categories</h1>
<div class="img-box">
<a href="{{ url_for('full') }}"><img class="responsive-img"  src="static/css/muscles.jpg" alt="Full Body" style="width:100%"></a>
<h4>Full Body</h4>
</div>


<div class="row">
  <div class="column">
    <a href="{{ url_for('shoulder') }}"><img src="static/css/shoulder.jpg" alt="Shoulder" style="width:100%"></a>
    <h4>Shoulder</h4>
  </div>
  <div class="column">
    <a href="{{ url_for('arms') }}"><img src="static/css/armspic.jpg"  alt="Arms" style="width:100%"></a>
    <h4>Arms</h4>
  </div>
</div>

<div class="row">
  <div class="column">
    <a href="{{ url_for('abs') }}"><img src="static/css/abs.jpg" alt="Abs" style="width:100%"></a>
    <h4>Abs</h4>
  </div>
  <div class="column">
    <a href="{{ url_for('chest') }}"><img src="static/css/chestpic.jpg"  alt="Chest" style="width:100%"></a>
    <h4>Chest</h4>
  </div>
</div>

<div class="row">
  <div class="column">
    <a href="{{ url_for('legs') }}"><img src="static/css/legs.jpg"  alt="Legs" style="width:100%"></a>
    <h4>Legs</h4>
  </div>
  <div class="column">
    <a href="{{url_for('add_exercise')}}"><img src="static/css/dumbbell.jpg"  alt="dumbbell" style="width:100%"></a>
    <h4>Add an Exercise</h4>
  </div>
</div>


</body>

{% endblock %}