{% extends 'base.html'%} {% block content %}
<body class="body-login">
	<div class="login_page">
		<div class="form">
			<form class="register-form"  action="{{ url_for('log_in')}}" method="POST">
             
				<input id="user_name" name="user_name" type="text" class="validate" placeholder="user name"/>
				<input id="password" name="password" type="text"  class="validate" placeholder="password"/>
				<input id="email" name="email" type="text" placeholder="email"/>
				<button type="submit" name="action">Create</button>
				<p class="message">Already registered?<a href="#">Log in</a></p>
			</form>

			<form class="login-form"action="{{ url_for('log_in')}}" method="POST">
				<input id="user_name" type="text" placeholder="User Name"/>
				<input id="password"type="password" placeholder="Password"/>
				<button type="submit" name="action">Login </button>
				<p class="message">Not registered?<a href="#">Register</a></p>
			</form>
		</div>
	</div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
    $('.message a').click(function(){
    $('form').animate({height: "toggle", opacity: "toggle"},);
    });
    </script>
{% endblock %}