<!DOCTYPE html>
<html>

<head>

<meta name="viewport" content="width=device-width">
<link rel="icon" type="image/png" sizes="32x32" href="static/css/favicon.png">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
<script type="text/javascript" src="static/javascript.js"></script>
</head>

<header>
    
        <nav>
            <div class="nav-wrapper">
            <a href="{{url_for('go_home')}}" class="brand-logo center"><IMG class="mirror" SRC="/static/css/favicon.png" ALT="Arm">Workout<IMG SRC="/static/css/favicon.png" ALT="Arm" ></a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                
                
    </header>
<body class="body-login">
	<div class="login_page">
		<div class="form">
			<form class="register-form" method="POST" action="{{ url_for('register')}}">
				<input id="user_name" name="username" type="text" class="validate" placeholder="user name"/>
				<input id="password" name="pass" type="text"  class="validate" placeholder="password"/>
				<button type="submit" name="action">Create</button>
				<p class="message">Already registered?<a href="#">Log in</a></p>
			</form>
			{% with messages = get_flashed_messages() %}
			{% if messages %}

			{% for message in messages %}
			
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                  
                    <p>{{ message }}</p>
                </div>
            </div>

			{% endfor %}

			{% endif %}

			{% endwith %}
			<form class="login-form" action="{{ url_for('log_in')}}" method="POST">
				<input id="user_name" name="name" type="text" class="validate" placeholder="user name"/>
				<input id="password" name="pass" type="password" placeholder="Password"/>
				<button type="submit" name="action"  >Login </button>
				<p class="message">Not registered?<a href="#">Register</a></p>

			</form>
		</div>
	</div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


    <script>
	$('.message a').click(function(){
    $('form').animate({height: "toggle", opacity: "toggle"},);
    });
</script>
